.navbarWrapper {
  background-color: #ccc;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(169, 51, 212);
  color: #fff;

  .navbarLogo {
  }

  .navbarRoutes {
    display: flex;
    a {
      color: #fff;
      transition: color 0.3s linear;
      &:hover {
        color: #000;
      }
    }
  }
}

.navbarLinkRouter {
  &:last-child {
    margin: 0px 0px 0px 15px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
